<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/entry.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <script src="https://kit.fontawesome.com/8f5ac29544.js" crossorigin="anonymous"></script>
    <script src="../scripts/header.js" defer></script>

</head>
<body> 
    <div id="content">
        <div id="main">
            <img id="logo" src="images/logo.png" alt="">
            <a href="./login" id="login" class="button-primary" >Login</a>
            <a href="./register" id="register" class="button-primary">Register</a>
        </div>
    </div>
</body>
</html>