#main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body{
    background-color: var(--primary);
}

#logo {
    width: 80%;
    max-width: 40em;
    margin-top: 5em;
}

#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em
}


.form-input > p {
color:black;
margin: 0px;
font-size: small;

}

.button-primary{
    font-size: medium !important;
}