<div id="footer">
    <a href="/">
        <div <%if(nav=="home"){%>class="active-page"<%}%> >
            <i class="fa-solid fa-house fa-lg"></i>
        </div>
    </a>

    <a href="/leftover/find">
        <div <%if(nav=="location"){%>class="active-page"<%}%> >
            <i class="fa-solid fa-map fa-lg"></i>
        </div>
    </a>

    <a href="/search">
        <div <%if(nav=="search"){%>class="active-page"<%}%> >
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </div>
    </a>

    <a href="/chats">
        <div <%if(nav=="chat"){%>class="active-page"<%}%> >
            <i class="fa-solid fa-comment fa-lg"></i>
        </div>
    </a>

    <a href="/profile">
        <div <%if(nav=="profile"){%>class="active-page"<%}%> >
            <i class="fa-solid fa-user fa-lg"></i>
        </div>
    </a>
</div>