<div id="header">
    <a href="javascript:history.back()">
        <div>
            <i class="fa-solid fa-reply fa-lg"></i>
        </div>
    </a>

    <img src="/images/logo.png" class="header-logo">

    <a href="/cart">
        <div id="shopping-cart">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
        </div>
    </a>
</div>